*{
    margin: 0;
    padding :0;
    text-decoration :none;
    list-style: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 5px;
}
html,body{
    width: 100%;
    height:100%; 
}
.background{
    width: 100%;
    height:100%;
    background-size: cover;
    background-image: url('../img/bg-img.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
}
.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.top-wrap{
    width: 880px;
    height: 316px;
    margin: 100px auto 0;
    z-index: 500;
}
.top .top-l{
    float: left;
    width: 252px;
    height: 100px;
    background-image: url('../img/icon-qzone.png');
    background-size: contain;
    cursor: pointer;
}

.top .top-r{
    float: right;
    width: 418px;
    height: 316px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

.top .top-r .close{
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('../img/icon-closer.png');
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.top .top-r .close:hover{
    background-image: url('../img/icon-close-hover.png');
}

.top .top-r .tips{
    font-size: 20px;
    color: #333;
    margin-bottom: 16px;
    text-align: center;
    margin: 20px 0;
}

.top .top-r .login{
    width: 270px;
    margin: 0 auto;
}

.top .top-r .login .input-wrap{
    height: 70px;
    width: 100%;
    padding: 20px 0;
    position: relative;
}
.top .top-r .login .input-wrap input{
    width: 100%;
    height: 40px;
    font-family: helvetica,arial,微软雅黑,华文黑体;
    border: 2px solid #e7e7e7;
    position: absolute;
    top: 20px;
    font-size: 14px;
    line-height: 16px;
    color: #aaa;
}
.top .top-r .login .input-wrap i.close{
    position: absolute;
    top: 27px;
    right: 15px;
    background-image: url('../img/icon-closer.png');
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.top .top-r .login .input-wrap i.close:hover{
    background-image: url('../img/icon-close-hover.png');
}

.top .top-r .login .button-wrap{
    width: 100%;
    height: 40px;
    background-color: #86ce2f;
}
.top .top-r .login .button-wrap input{
    width: 100%;
    height: 40px;
    line-height: 35px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    font-family: "Microsoft Yahei","微软雅黑",SimHei,"黑体","Hiragino Sans GB",STHeiTi,sans-serif;
    color: #fff;
    background: transparent;
    text-align: center;
    cursor: pointer;
}
.top .top-r .bottom{
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
}
.top .top-r .bottom div {
    overflow: hidden;
    text-align: right;
    font-size: 14px;
    margin-right: 10px;
}
.top .top-r .bottom div input{
    overflow: hidden;
    margin-top: 3px;
    width: 13px;
    height: 13px;
}
.top .top-r .bottom div p{
    float: right;
}
.top .top-r .bottom div a {
color: #000;
}
.top .top-r .bottom div a:hover{
    text-decoration: underline;
}
.sheep{
    position: absolute;
    width: 164px;
    height: 122px;
    background-image: url('../sheepDemo/img/sheep.png');
    background-position: 0 0;
    cursor: -webkit-grabbing;
    background-repeat: no-repeat;
    bottom: 20px;
    right: -164px;
}
iframe{
    display: none;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
}